green {
  color: green;
}

lime {
  color: lime;
}

lettuce {
  color: lightgreen;
}

ocean {
  color: darkblue;
}

sea {
  color: dodgerblue;
}

sky {
  color: deepskyblue;
}

maroon {
  color: maroon;
}

soviet {
  color: red;
}

tomato {
  color: tomato;
}

mayo {
  color: white;
}

sunrise {
  color: orange;
}

vegemite {
  color: black;
}
