body {
  background-color: rgb(20, 20, 20);
  height: 95%;
  padding-bottom: 15px;
  padding-top: 3px;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 0px gray;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
  width: 200px;
}

button:active {
  box-shadow: 2px 2px 0px darkgray;
  margin-left: 2px;
  margin-top: 2px;
}

br {
  border: 3px solid white;
  height: 3px;
}

h1 {
  display: flex;
  margin-top: 0;
}

header {
  margin-left: 10px;
}

html {
  background-color: black;
  height: 100%;
}

input {
  margin-bottom: 10px;
  width: 195px;
}

main {
  margin-left: 10px;
  margin-top: 10px;
}

p {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  display: flex;
  margin: 0;
  padding: 5px;
}

.nonwisdom {
  background-color: firebrick;
}

.nonwisdom:active {
  background-color: crimson;
}

.nonwisdom:hover {
  background-color: darkred;
}

.phrase {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: white;
  padding: 5px;
}

.submit {
  background-color: lightgray;
}

.wisdom {
  background-color: cornflowerblue;
}

.wisdom:active {
  background-color: midnightblue;
}

.wisdom:hover {
  background-color: DarkSlateBlue;
}
