body {
  background-color: black;
  color: white;
  image-rendering: pixelated;
}

main {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  width: 32px;
}
